<div class="allbook-container">
  {{#unless isLoggedIn}}
{{#each books}}
<div class="books-card">
<img style="width: 200px;height: 160px;object-fit: scale-down;margin-bottom: -5px;" src="{{smallThumbnail}}" alt="">
<h1>{{title}}</h1>
<p>{{author}}</p>
<div>{{description}}</div>
</div>
{{/each}}
{{/unless}}
    
 
 
    {{#if isLoggedIn}}
{{#each books}}
<div class="books-card">
<img style="width: 200px;height: 160px;object-fit: scale-down;margin-bottom: -5px;" src="{{smallThumbnail}}" alt="">
<h1>{{title}}</h1>
<p>{{author}}</p>
<div>{{description}}</div>
  <a class="ourbook-a-class" href="/user/dashboard/books/alreadyread/{{this.id}}">I've read this book</a>
  <a class="ourbook-a-class"  href="{{this.id}}">I want to read this book</a>
</div>
{{/each}}
{{/if}}
    
</div>