<h1 class="titlePage">Books created</h1>

<div class="card-bookCreated">
    {{#each data.author}}
    <div class="card-info-bc">
        <img src="{{this.smallThumbnail}}" alt="{{this.title}}">
        <p>{{title}}</p>
        <a href="/user/dashboard/update/{{_id}}">Wanna update your Books</a>
        <a href="/user/dashboard/booksCreated/delete/{{_id}}">Delete this book</a>
    </div>
    {{/each}}
    {{!-- {{data.title}} --}}
</div>