<h1 class="index-title">Book research</h1>
<div class="image-index">
    <img class="img-test" src="../images/books-test-2.jpg" alt="book image">
</div>
<div id="index-container">
    {{#each bookDetail}}
    <div id="card">
        <div class="card-info">
            <img src={{volumeInfo.imageLinks.smallThumbnail}} />
            <p> {{volumeInfo.title}}</p>
            <a href="/{{this.id}}">Detail</a>
            <button class="alreadyread" id="{{this.id}}">I've read this book</button>
            <button class="read" id="{{this.id}}">I want to read this book</button>
        </div>
    </div>
    {{/each}}
</div>
<div>
    {{> footer}}
</div>