<section class="section-read">
    <h1 class="title-read">Books to read</h1>
    {{#each users}}
    <div class="container-read">
        <div class="first-child-picture">
            <img src="{{volumeInfo.imageLinks.smallThumbnail}}" alt="Book picture">
            <p>{{volumeInfo.title}}</p>
        </div>
        <div>
            <p>{{volumeInfo.authors}}</p>
            <p>{{volumeInfo.publisher}}</p>
            <p>{{volumeInfo.description}}</p>
            <p>{{volumeInfo.pageCount}}</p>
            <p>{{saleInfo.listPrice.amount}}</p><span>{{saleInfo.listPrice.currencyCode}}</span>
        </div>
        <div>
            <a href="{{saleInfo.buyLink}}">Buy this book here</a>

        </div>
    </div>
    {{/each}}
    {{#each test}}
    <button id="{{this._id}}" class="fa fa-trash"></button>
    {{/each}}
</section>